:root {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-highlight: #2079c7;
  --color-foreground: #eeeeee;
}

html {
  scroll-behavior: smooth;
}

.auto-center {
  margin: 0 auto;
}

.icon {
  height: 20px;
  width: 20px;
  margin: 3px;
}

.single-text {
  display: block;
}

.section-title {
  color: var(--color-highlight);
  font-size: medium;
  font-weight: 700;
  font-style: italic;
}

.list-group-item {
  border: 0;
  padding: 0.5rem;
}

.my-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: baseline;
  align-items: center;

  background: #2f6ed3;
  box-shadow: 20px 20px 60px #285eb3, -20px -20px 60px #367ff3;
}

.my-image > img {
  min-width: 100%;
  min-height: 100%;
}

.v-center {
  display: flex;
  justify-content: center;
}

.banner {
  background: transparent !important;
  height: 100vh;
  position: relative;
}

.btn {
  box-shadow: 3px 3px 6px #285eb3, -3px -3px 6px #367ff3 !important;
}

.fa,
.fas,
.far,
.fab {
  color: #393e46;
}

/* Scroll Down */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.scroll-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.scroll-down span:nth-child(2) {
  animation-delay: -0.2s;
}

.scroll-down span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
